.search-box {
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-box input {
  text-align: center;
  width: 30%;
  padding: 10px;
  margin: 40px 10px 20px 10px;
  /* text-align: center; */
}
