.search-box {
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.search-box input {
  /* text-align: center; */
  width: 20%;
  padding: 10px;
  margin: 40px;
  /* text-align: center; */
}
